.filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 60px;
    max-width: 1340px;
    margin: 0 auto;
    overflow-x: auto;
}

.filter::-webkit-scrollbar {
  width: 10px;
}

.filter::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #6e6ea9;
}

.filter::-webkit-scrollbar-track {
  background: #ededed;
}

.filterLinks{
    font-size: 20px;
    cursor: pointer;
}

.box{
    display: flex;
    background-color: #171e33;
    border-radius: 5px;
    min-width: 130px;
    max-width: 130px;
    padding: 10px 5px 10px 5px;
    justify-content: center;
}

@media screen and (max-width: 430px){
    .filter {
        overflow: auto;
        padding: 0 20px;
    }
}
