.filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 60px;
    max-width: 1340px;
    margin: 0 auto;
}

.filterLinks{
    font-size: 20px;
    cursor: pointer;
}

.box{
    background-color: #171e33;
    border-radius: 5px;
    width: 130px;
    heigth: 46px;
    max-width: 130px;
    max-heigth: 46px;
}

@media screen and (max-width: 430px){
    .filter {
        overflow: auto;
        padding: 0 20px;
    }
}
