.filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0px;
    max-width: 985px;
    margin: 0 auto;
    overflow-x: auto;
}

.filter::-webkit-scrollbar {
  width: 10px;
}

.filter::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #989898;
}

.filter::-webkit-scrollbar-track {
  background: transparent;
}

.filterLinks{
    font-size: 20px;
    cursor: pointer;
}

.box{
    cursor: pointer;
    display: flex;
    background-color: #171e33;
    border-radius: 5px;
    min-width: 130px;
    max-width: 130px;
    padding: 10px 5px 10px 5px;
    justify-content: center;
    transition: filter 0.3s;
    filter: brightness(1);
}

.box:hover {
    filter: brightness(1.2);
}

@media screen and (max-width: 430px){
    .filter {
        overflow: auto;
        padding: 0 20px;
    }
}
