.filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 60px;
    max-width: 1340px;
    margin: 0 auto;
}

.filterLinks{
    font-size: 20px;
    cursor: pointer;
}

.box{
    display: flex;
    background-color: #171e33;
    border-radius: 5px;
    min-width: 130px;
    min-heigth: 80px;
    max-width: 130px;
    max-heigth: 80px;
}

@media screen and (max-width: 430px){
    .filter {
        overflow: auto;
        padding: 0 20px;
    }
}
